version: '3.4'

services:
# Catalog API – override to use local build and secrets for dev
  catalog.api:
    build:
      context: ./src/Catalog/Catalog.API
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "CatalogDatabaseSettings:ConnectionString=mongodb://catalogdb:27017"

    volumes:
      - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro
    ports:
      - "8000:80"

  # Basket API – override to use local build and secrets for dev
  basket.api:
    build:
      context: ./src/Basket/Basket.API
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:Redis=basketdb:6379"
      - "EventBus:HostName=rabbitmq"

    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
    ports:
      - "8001:80"

  # Frontend Basket – override to use local build
  frontend-basket:
    build:
      context: ./frontend-basket
      dockerfile: Dockerfile
    ports:
      - "8002:80"
  # Frontend Catalog – override to use local build
  frontend-catalog:
    build:
      context: ./frontend-catalog
      dockerfile: Dockerfile
    ports:
      - "8003:80"
      